:root {
    --clr-purple-pink: linear-gradient(139deg, #6100FF 15%, #FF4DCA 87.01%);
    --clr-red: #FF003D;
}

.content-stmli {
    position: relative;
    top: 94px;
    left: 13%;
    width: calc(100% - 13%);
    height: calc(100vh - 94px);
    z-index: 10;

    display: flex;
    flex-direction: column;
}

.stmli-wrapper {
    padding-top: 6rem;
    margin-left: 12rem;
    margin-right: 12rem;
}

.stmli-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    color: #fff;

    & h1 {
        font-size: 48px;
    }

    & ion-icon {
        transform: translateY(10px);
        font-size: 48px;
    }

    & button {
        background: var(--clr-purple-pink);
        color: #fff;
        font-size: 24px;
        border: none;
        border-radius: 5px;
        padding: 0 2rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        text-transform: uppercase;

        &:hover {
            filter: brightness(120%)
        }
    }
}

.stmli-badge-list {
    margin-top: 4rem;
    margin-left: 12rem;
    margin-right: 12rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.stmli-badge{
    width: 100%;
    cursor: pointer;

    &:hover {
        .badge-thumbnail {
            & img {
                transform: scale(1.05);
            }
        }
    }

    .badge-thumbnail {
        width: 100%;
        aspect-ratio: auto 16 / 9;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        
        & img {
            width: 100%;
            height: 100%;
            transition: all 0.2s ease-in-out;
        }

        .badge-thumbnail-live {
            position: absolute;
            padding: 0.5rem 1rem;
            background: var(--clr-red);
            bottom: 0;
            right: 0;
            margin: 1rem;
            border-radius: 5px;
            z-index: 999;

            & p {
                color: #fff;
                font-size: 24px;

                & ion-icon {
                    font-size: 32px;
                    transform: translateY(6px);
                }
            }
        }
    }

    .badge-profile {
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        border-bottom: 2px solid #fff;

        .badge-profile-img {
            width: 120px;
            height: 120px;


            & img {
                height: 100%;
                width: 100%;
            }
        }

        .badge-profile-text {
            display: flex;
            flex-direction: column ;
            justify-content: center;
            height: 100%;
            width: calc(100% - 120px);
            padding-left: 1.5rem;
            

            color: #fff;
            & h2 {
                font-size: 48px;
            }

            & p {
                font-size: 26px;
            }
        }
    }
}


